
edge-detection/batches
venv
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__
_minted-angles
.~lock.*.*#
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.aux
*.out
*.bbl
*.bcf
*.blg
*.run.xml

.SRCINFO


datasets/MURA-v1.1/
datasets/*-sorted/
datasets/verse19/

datasets/MURA-v1.1.zip

mcot/count.txt
